# Dependency directories
node_modules/

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 